.ingredients {
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .ingredients {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1168px) {
  .ingredients {
    padding-top: 120px;
  }
}

.ingredients-title {
}
.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (min-width: 768px) {
  .ingredients-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.ingredients-item {
  border-radius: 15px;
  padding: 32px 28px 28px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .ingredients-item {
    width: calc((100% - 32px) / 2);
  }
}

@media only screen and (min-width: 1168px) {
  .ingredients-item {
    width: calc((100% - 32px * 3) / 4);
    padding: 28px 24px;
  }
}

@media only screen and (max-width: 767.98px) {
  .ingredients-item:nth-last-child(-n + 3) {
    display: none;
  }
}

.ingredients-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 14px;
  right: 14px;

  padding: 0;
  border: none;
  background-color: transparent;
}

.ingredients-icon {
}

.ingredients-item:nth-child(2n) .ingredients-icon {
  color: #fd9222;
}

.ingredients-item:nth-child(2n + 1) .ingredients-icon {
  color: #fafafa;
}

.ingredients-item:nth-child(2n) {
  background: #fff;
  border: 1px solid #fd9222;
}

.ingredients-item:nth-child(4n + 1) {
  background: #fd9222;
  color: #fff;
}

.ingredients-item:nth-child(4n + 3) {
  background: #1e1823;
  color: #fff;
}
.ingredients-ill {
  margin: 0 auto 16px;
}

@media only screen and (min-width: 1168px) {
  .ingredients-ill {
    width: 212px;
    height: 160px;
  }
}

@media only screen and (min-width: 1168px) {
  .ingredients-ill {
    margin: 0 auto 36px;
  }
}

.ingredients-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: inherit;
  font-weight: 600;
  text-transform: uppercase;
}
